body {
    font-family: "华文细黑";
    background: url('../image/Login_Background.jpg') no-repeat;
    background-size: 100%;
    height: 100%;
}
#login{
    margin-top: 12%;
    margin-left: 39%;
    height: 400px;
    width: 300px;
    box-shadow: 0 0 2px #1b6d85;
}
.loginTitle{
    margin-left: 34%;
    margin-top: 23px;
    font-size:21px;
}
.name{
    margin-top: 55px;
    margin-left: 15%;
}
.password{
    margin-top: 5px;
    margin-left: 8%;
}
.functionButton{
    margin-top: 30px;
    margin-left: 28%;
}

#loginRegister{
    margin-left: 15px;
}

