<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" href="{% static 'bootstrap3/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <link rel="shortcut icon" href="{% static 'icon/user.ico' %}" type="img/x-ico"/>
    <script src="{% static 'jquery3/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'bootstrap3/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/account.js' %}"></script>
    <title>Account</title>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'login' %}">My Blog</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-out"></span>Login Out</a></li>
        </ul>
    </div>
</nav>
<div id="account">
    <form action="" method="post">
        {% csrf_token %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Personal Info</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <th>user_name</th>
                    <th>user_join_date</th>
                    <th>user_email</th>
                    <th>is_active</th>
                    <th>is_superuser</th>
                    {% for user in user_info %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.date_joined }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.is_active }}</td>
                            <td>{{ user.is_superuser }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Blog detail</h3>
            </div>
            {% if blog_count > 0 %}
                <table class="table">
                    <th>blog_title</th>
                    <th>blog_content</th>
                    <th>Delete</th>
                    {% for blog in blog_info %}
                        <tr>
                            <td><a href="{% url 'edit'  blog_id=blog.id %}">{{ blog.title }}</a></td>
                            <td>{{ blog.content }}</td>
                            <td><input type="checkbox" name="delete" id="{{ blog.id }}"/></td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <table class="table">
                    <th>blog_title</th>
                    <th>blog_content</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <tr>
                        <td>No Blog</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            {% endif %}
        </div>
        <div class="pagination">
            <span class="pager">
                {% if blog_info.has_previous %}
                    <a href="?page={{ blog_info.previous_page_number }}">Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ blog_info.number }} of {{ blog_info.paginator.num_pages }}.
                </span>

                {% if blog_info.has_next %}
                    <a href="?page={{ blog_info.next_page_number }}">Next</a>
                {% endif %}
            </span>
        </div>
        <div id="buttonGroup">
            <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-default"/>
            <input type="reset" name="reset" id="reset" value="Reset" class="btn btn-default"/>
        </div>
    </form>
</div>
</body>
</html>