<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" href="{% static 'bootstrap3/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="{% static 'jquery3/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'bootstrap3/js/bootstrap.min.js' %}"></script>
    <title>Login</title>
</head>
<body>
<form action="/register" method="get">
    {% csrf_token %}
    <h1>Login Blog</h1><br/>
    Name:<input type="text" id="name">
    Password:<input type="password" id="password"><br/>
    <input type="submit" class="btn btn-default" value="Submit">
    <input type="submit" class="btn btn-default" value="Register">
</form>
</body>
</html>