<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" href="{% static 'bootstrap3/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/error.css' %}">
    <link rel="shortcut icon" href="{% static 'icon/error.ico' %}" type="img/x-ico"/>
    <script src="{% static 'jquery3/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'bootstrap3/js/bootstrap.min.js' %}"></script>
    <title>Error</title>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-home"></span>Home</a></li>
        </ul>
    </div>
</nav>
</body>
</html>