<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords"
          content="Client Signup Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
    </script>
    <link rel="stylesheet" href="{% static 'css/register/style.css' %}">
    <link rel="shortcut icon" href="{% static 'icon/register.ico' %}" type="img/x-ico"/>
    <link href="//fonts.googleapis.com/css?family=Old+Standard+TT:400,400i,700" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- main -->
<div class="main main-agileits">
    <div class="main-agilerow">
        <div class="signup-wthreetop">
            <h2>Welcome to Registration</h2>
        </div>
        <div class="contact-wthree">
            <form action="#" method="post">
                <div class="form-w3step1">
                    <input type="text" name="User Name" placeholder="User Name" required="">
                    <input type="email" name="Email" placeholder="Email" required="">
                    <input type="password" name="Password" placeholder="Password" required="">
                    <input type="password" class="agileits-btm" name="confirm password" placeholder="Confirm Password"
                           required="">
                </div>
                <div class="agileits-row2 w3ls-formrow2">
                    <input type="checkbox" id="brand2" value="">
                    <label for="brand2"><span></span>I accept the terms of Use</label>
                </div>
                <input type="submit" value="SUBMIT">
            </form>
            <div class="accountExist">
                Already have an account?<a href="{% url 'new_login' %}"> Login </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>