<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" href="{% static 'bootstrap3/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <script src="{% static 'jquery3/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'bootstrap3/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/register.js' %}"></script>
    <title>Register</title>
</head>
<body>
<div id="register">
    <form action="/register" method="get">
        <label class="registerTitle">Register Blog</label><br/>
        <div class="name">
            Name:<input type="text" name="name"><br/><br/>
        </div>
        <div class="firstPwd">
            Password:<input type="password" name="firstPwd"><br/><br/>
        </div>
        <div class="secondPwd">
           Input password again:<input type="password" name="secondPwd"><br/><br/>
        </div>
        <div class="functionButton">
            <input type="submit" value="Submit" id="submit">
            <input type="submit" value="Return" id="return">
        </div>
    </form>
</div>
</body>
</html>