<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" href="{% static 'bootstrap3/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/success.css' %}">
    <script src="{% static 'jquery3/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'bootstrap3/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/success.js' %}"></script>
    <title>Success</title>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'login' %}">My Blog</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'blog' %}"><span class="glyphicon glyphicon-backward"></span>Back</a></li>
            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-out"></span>Login Out</a></li>
            <li><a href="{% url 'account' %}"><span class="glyphicon glyphicon-user"></span>User</a></li>
        </ul>
    </div>
</nav>
<p>{{ title }}</p>
</body>
</html>